/* Navigbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f9ff;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .welcome-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto 2rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .right-section-1 {
    display: flex;
    align-items: center;
  }
  
  .right-section-1 a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 20px; /* Adjust the margin as needed */
    margin-right: 20px;
  }
  
  /* Add media queries for responsive design if needed */
  @media screen and (max-width: 768px) {
    .welcome-text{
      font-size: 0.7rem;
      margin-bottom: 20px;
    }
    .logo{
      width: 4rem;
      margin-left: 10px;

    }

    .right-section-1 a{
      font-size: 0.5rem;
      margin-right: 9px;
      margin-left: 3px;
    }
  }